body {
  background-color: #f0f0f0;
  height: 1826px;
  width: 916px;
  width: 100%;
  left: 262px;
  top: 0px;
  margin-top: 24px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: #ffffff;
  height: 574px;
  width: 798px;
  left: 321px;
  top: 24px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 37px;
}

.title {
  color: #ff6a28;
  height: 23px;
  width: 213px;
  margin: 0;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.sub-title {
  color: #61656d;
  height: 19px;
  width: 301px;
  left: 348px;
  top: 69px;
  margin: 0px;
  margin-bottom: 14;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.img {
  height: 389px;
  width: 745px;
  left: 348px;
  top: 102px;
  border-radius: 0px;
}

.info-box-dad {
  display: flex;
}

.info-box {
  background-color: #f0f0f0;
  height: 85px;
  width: 118px;
  left: 348px;
  top: 501px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-right: 9px;
}

.image-box {
  color: #ff6a28;
  margin-bottom: 5px;
  height: 20px;
  width: 20px;
  border-radius: 0px;
}

.info-text {
  color: #61656d;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.info-strong-text {
  margin-top: 6px;
  font-size: 14px;
  color: #ff6a28;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.info-member-box {
  background-color: #f0f0f0;
  height: 85px;
  width: 238px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-img {
  height: 60px;
  width: 60px;
}

.member-box {
  display: flex;
  flex-direction: column;
}

.name {
  color: #ff6a28;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 119px;
  margin-left: 11px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.since {
  color: #61656d;
  height: 32px;
  width: 129px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-left: 11px;
}

.ingredients-box {
  margin-top: 37px;
}

.title-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.icon-title {
  margin-left: 8px;
}

.list {
  list-style-position: inside;
  margin: 12px;
  counter-reset: list;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.list-item::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #61656d;
  margin-bottom: 3px;
}

.preparation-item::before {
  content: "" counter(list-item);
  margin-right: 0;
  margin-top: 1px;
  height: 23px;
  width: 13px;
  position: absolute;
  right: 88%;
  color: #61656d;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: #61656d;
  border-radius: 50%;
  display: inline-block;
}

.list-item,
.preparation-item {
  margin-bottom: 10px;
  color: #61656d;
}

.preparation-box {
  margin-top: 16px;
}

.preparation-item {
  margin-bottom: 20px;
}

.add-info-box {
  margin-top: 16px;
}

.secundary-title {
  background-color: #f0f0f0;
  padding: 8px 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #61656d;
  text-align: center;
}

.add-info-text {
  margin-top: 16px;
}

.add-info-text p {
  color: #61656d;
  font-size: 14px;
}
